    {% block stylesheets %}
    <link href="{{ asset('login/vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ asset('login/fonts/font-awesome-4.7.0/css/font-awesome.min.css') }}" rel="stylesheet">
    <link href="{{ asset('login/vendor/animate/animate.css') }}" rel="stylesheet">
    <link href="{{ asset('login/vendor/css-hamburgers/hamburgers.min.css') }}" rel="stylesheet">
    <link href="{{ asset('login/vendor/select2/select2.min.css') }}" rel="stylesheet">
    <link href="{{ asset('login/css/util.css') }}" rel="stylesheet">
    <link href="{{ asset('login/css/main.css') }}" rel="stylesheet">
	<title>RepairNote || Gestiona tus reparaciones</title>
     {% endblock %}
	    {% block body %}

	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
				<div class="login100-pic js-tilt" data-tilt>
					<a href="/login" ><img src="login/images/img-01.png" alt="IMG"></a>
				</div>
		
				<form class="login100-form validate-form" action="{{ path("fos_user_security_check") }}" method="post">
					<input type="hidden" name="_target_path" value="/admin" />
					<input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
					<span class="login100-form-title">
			{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
				{{  app.user.username }}
					{% else %}				
						Inicia Sesión
					</span>

					<div class="wrap-input100 validate-input" data-validate = "Usuario Requerido">
						<input class="input100" type="text" name="_username" placeholder="Usuario">
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<i class="fa fa-user" aria-hidden="true"></i>
						</span>
					</div>

					<div class="wrap-input100 validate-input" data-validate = "Password es requerido">
						<input class="input100" type="password" name="_password" placeholder="Password">
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<i class="fa fa-lock" aria-hidden="true"></i>
						</span>
					</div>

					<div class="container-login100-form-btn">
						<button class="login100-form-btn">
							Entrar
						</button>
					</div>
					<div class="text-center p-t-12">
						<span class="txt1">
							Recordar 
						</span>
						<a class="txt2" href="#">
							Usuario / Password?
						</a>
					</div>

					<div class="text-center p-t-136">
						<a class="txt2" href="#" data-toggle="modal" data-target="#registrar">
							Crear una cuenta
							<i class="fa fa-long-arrow-right m-l-5" aria-hidden="true"></i>
						</a>
					</div>
				</form>
				{% endif %}
				{% if error %}
				<div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
				{% endif %}
				{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
					<div class="container-login100-form-btn">
						<a href="/logout" class="login100-form-btn">
							Logout
						</a>
					</div>			
					{% endif %}
			</div>
		</div>
	</div>

	{# MODAL REGISTRO #}
	<div class="modal fade" id="registrar" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h4 class="modal-title w-100 font-weight-bold">Sign up</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body mx-3">
                <div class="md-form mb-5">
                    <i class="fa fa-user prefix grey-text"></i>
                    <input type="text" id="orangeForm-name" class="form-control validate">
                    <label data-error="wrong" data-success="right" for="orangeForm-name">Your name</label>
                </div>
                <div class="md-form mb-5">
                    <i class="fa fa-envelope prefix grey-text"></i>
                    <input type="email" id="orangeForm-email" class="form-control validate">
                    <label data-error="wrong" data-success="right" for="orangeForm-email">Your email</label>
                </div>

                <div class="md-form mb-4">
                    <i class="fa fa-lock prefix grey-text"></i>
                    <input type="password" id="orangeForm-pass" class="form-control validate">
                    <label data-error="wrong" data-success="right" for="orangeForm-pass">Your password</label>
                </div>

            </div>
            <div class="modal-footer d-flex justify-content-center">
                <button class="btn btn-deep-orange">Sign up</button>
            </div>
        </div>
    </div>
</div>
	{# FIN MODAL REGISTRO #}
	 {% endblock %} 
	  {% block javascripts %}
<!--===============================================================================================-->	
	<script src="{{ asset('login/vendor/jquery/jquery-3.2.1.min.js') }}"></script>
	<script src="{{ asset('login/vendor/bootstrap/js/popper.js') }}"></script>
	<script src="{{ asset('login/vendor/bootstrap/js/bootstrap.min.js') }}"></script>
	<script src="{{ asset('login/vendor/select2/select2.min.js') }}"></script>
	<script src="{{ asset('login/vendor/tilt/tilt.jquery.min.js') }}"></script>
	<script src="{{ asset('login/js/main.js') }}"></script>
	<script >
		$('.js-tilt').tilt({
			scale: 1.1
		})
	</script>
	 {% endblock %} 
