<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8"> {% block stylesheets %}
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">
    <link href="{{ asset('css/imprimira4.css') }}" rel="stylesheet"> {% endblock %}
</head>

<body>
    {% block body %}
    <br>
    <main>
        <table>
            <thead>
                <tr>
                    <td rowspan="4">
                        <img class="logo" src="http://www.bitstore.es/Themes/DefaultZonaPc/Content/images/logo.png"/>
                    </td>
                    <th>DATOS EMPRESA</th>
                     <th>NUMERO FICHA</th>
                </tr>
                <tr>
                    <td>Alejandro Castro Nantes · 77409187L</td>
                    <td>SAT: {{ fichas.getId }}</td>
                </tr>
                <tr>
                    <td>Avda. Reina Victoria N5 · Pontevedra</td>
                    <th>REVISIONES</th>
                </tr>
                <tr>
                    <td>986 109 394 - 698 119 542</td>
                    <td>{{ fichas.getRevisiones.count() }}</td>

                </tr>
            </thead>
        </table>
            <table border="0" cellspacing="0" cellpadding="0">
                <thead>
                    <tr>
                        <th class="no">NOMBRE</th>
                        <th class="no">DIRECCIÓN</th>
                        <th class="no">EMAIL</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{ clientes.getNombre() }} {{ clientes.getApellidos() }}</td>
                        <td>{{ clientes.getDireccion() }}</td>
                        <td>{{ clientes.getEmail() }}</td>
                    </tr>
                </tbody>
                <thead>
                    <tr>
                        <th class="no">TELEFONO MOVIL</th>
                        <th class="no">TELEFONO FIJO</th>
                        <th class="no">FECHA DE ENTRADA</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{% if clientes.getMovil() %}{{ clientes.getMovil() }}{% endif %}</td>
                        <td>{% if clientes.getTelefonoFijo() %}{{ clientes.getTelefonoFijo() }}{% endif %}</td>
                        <td>{{ fichas.getFechaEntrada|date('d/m/Y h:m:s') }} </td>
                    </tr>
                </tbody>
                <thead>
                    <tr>
                        <th class="no">MODÉLO EQUIPO</th>
                        <th class="no">NÚMERO DE IMEI</th>
                        <th class="no">NÚMERO DE SERIE</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{ fichas.getModeloEquipo() }}</td>
                        <td >{{ fichas.getImei() }} </td>
                        {% if fichas.getNumeroSerie() %}
                        <td class="serie"> {{ fichas.getNumeroSerie() }} </td>
                        {% else %}
                        <td class="serie">NULL</td>
                        {% endif %}
                    </tr>
                </tbody>
                <thead>
                    <tr>
                        <th class="no" colspan="3">DESCRIPCIÓN AVERÍA</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="desc" colspan="3">{{ fichas.getDescripcionAveria() }}</td>
                    </tr>
                </tbody>
            {% if fichas.getAccesorios() %} 
                <thead>
                    <tr>
                        <th class="no" colspan="3">ACCESORIOS ENTREGADOS</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="desc" colspan="3">{{ fichas.getAccesorios() }}</td>
                    </tr>

                </tbody>
            {% endif %}
                <thead>
                    <tr>
                        <th class="no">PARTE SUPERIOR</th>
                        <th class="no">PARTE INFERIOR</th>
                        <th class="no">DAÑOS</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
                    <tr>
                        <td>
                            {% if fichas.getImagen() %}
                                <img class="resize" src="/images/fichacte/{{ fichas.getImagen() }}" )>
                                {% else %}
                                <img class="resize"  src="/images/image-not-found.png"/>
                            {% endif %}
                        </td>
                        <td>
                            {% if fichas.getImagen2() %}
                                <img class="resize" src="/images/fichacte/{{ fichas.getImagen2() }}" )>
                                {% else %}
                                <img class="resize"  src="/images/image-not-found.png"/>
                            {% endif %}
                        </td>
                        <td>
                            {% if fichas.getImagen3() %}
                                <img class="resize" src="/images/fichacte/{{ fichas.getImagen3() }}" )>
                                {% else %}
                                <img class="resize" src="/images/image-not-found.png"/>
                            {% endif %}
                        </td>
                    </tr>
                </tbody>
            </table>
            <table>
                <tr>
                    <th class="firmas" colspan="2">CONFORMIDAD CLIENTE</th>
                    <th class="firmas" colspan="2">SELLO EMPRESA</th>
                </tr>
                <tr>
                    <td  colspan="2" ><br><br><br><br><br><br><br><br><br><br><br><br><br></th>
                    <td  colspan="2" ></th>
                </tr>
            </table>
            <div id="notices">
                <div>IMPORTANTE:</div>
                <br>
                <div class="notice">
                    De acuerdo a la LOPD el cliente debe entregar el terminal sin tarjeta de memoria y sin tarjeta SIM. No nos hacemos responsables de la pérdida de las mismas en caso de que el cliente no las retire.
                    <br><br>
                    El tiempo máximo de almacenaje y custodia del terminal sin coste para el cliente será de 30 días naturales, a partir de ese momento el coste será de 2 euros por día. Pasados 2 meses desde la comunicacion al cliente, se entendera que el mismo renuncia al terminal y pasará a reciclaje.
                    <br><br>
                    Para cualquier reclamacion será imprescindible presentar este resguardo, por tanto, el servicio técnico declina toda responsabilidad derivada de la pérdida del mismo.
                    <br><br>
                    No nos hacemos responsables de ningun tipo de información contenida en dicho terminal o equipo informático, excepto a petición por el cliente, en todo caso se realizara una copia de seguridad del dispositivo y se restablecera una vez finalidada la reparación.
                    <br><br>

                </div>
            </div>
            <div id="cod_ficha"></div>
    </main>
    {% endblock %} {% block javascripts %}
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script type="text/javascript" src="/javascript/jquery-barcode.js"></script>
    <script type="text/javascript">
    $(function() {  
        $uid = "{{ fichas.getUid }}";
        if(!$uid == ""){
            $("#cod_ficha").barcode(
                $uid, // Valor del codigo de barras imagen recortando la URL
                "code128", // tipo (cadena)
                {barWidth:2, barHeight:50}
            );
        }
    });
    setTimeout(function(){
    window.print();
    window.close(); 
    }, 900)
    </script>
    {% endblock %}
</body>

</html>
