<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">     
    {% block stylesheets %}
        <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">
        <link href="{{ asset('css/imprimirtck.css') }}" rel="stylesheet">
     {% endblock %}
</head>
<body>
    {% block body %}
    <main>
    <table>
        <thead>
            <tr>
                <th colspan="2"> UID SAT</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td colspan="2" align="center"><div id="cod_ficha"></div>
                </td>
            </tr>
        </tbody>
                <thead>
            <tr>
                <th colspan="2"> INFORMACIÓN PROPIETARIO</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td colspan="2">
                    {{ clientes.getNombre() }} 
                    {{ clientes.getApellidos() }}
                    <br>
                    {{ clientes.getMovil() }}
                    {% if clientes.getTelefonoFijo() %}
                       -  {{ clientes.getTelefonoFijo() }}
                    {% endif %}
                </td>
            </tr>
        </tdoby>´
        <thead>
            <tr>
                <th colspan="2"> FICHA SAT</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td colspan="2">{{ fichas.getModeloEquipo() }}</td>
            </tr>
            <tr>
                {% if fichas.getCodigoDesbloqueo() %}<td {% if fichas.getCodigoPin() == null %} colspan="2" {% endif %}>CD: {{ fichas.getCodigoDesbloqueo() }}</td>{% endif %}
                {% if fichas.getCodigoPin() %}<td>SIM: {{ fichas.getCodigoPin() }}</td>{% endif %}
            </tr>
            <tr>
                <td colspan="2">{{ fichas.getFechaEntrada|date('d/m/Y h:m:s') }} </td>
            </tr>
            <tr>
                <td colspan="2">{{ fichas.getDescripcionAveria() }}</td>
            </tr>
        </tbody>
        {% if fichas.getImei() %}
        <thead>
            <tr>
                <th colspan="2"> NUMERO IMEI</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td colspan="2" align="center"><div id="cod_imei"></div>
                </td>
            </tr>
        </tbody>
        {% endif %}
        {% if fichas.getNumeroSerie() %}
        <thead>
            <tr>
                <th colspan="2"> NUMERO DE SERIE</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td colspan="2" align="center"><div id="cod_ns"></div>
                </td>
            </tr>
        </tbody>
        {% endif %}
        </table>
        <div class="confidencial">* Este documento es confidencial, por favor destruya este documento, en caso de no reconocerlo.</div>
    </main>
    {% endblock %}
    {% block javascripts %}
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
    <script type="text/javascript" src="/javascript/jquery-barcode.js"></script>
    <script type="text/javascript">
        //Barcode
        $(function() {  
            $uid = "{{ fichas.getUid }}";
            $imei = "{{ fichas.getImei }}";
            $ns = "{{ fichas.getNumeroSerie }}";
            if(!$uid == ""){
                $("#cod_ficha").barcode(
                    $uid, // Valor del codigo de barras imagen recortando la URL
                    "code128", // tipo (cadena)
                    {barWidth:1, barHeight:50}
                );
            }
            if(!$imei == ""){
                $("#cod_imei").barcode(
                    $imei, // Valor del codigo de barras
                    "code128", // tipo (cadena)
                    {barWidth:1, barHeight:50}
                );
            }
            if(!$ns == ""){
                $("#cod_ns").barcode(
                    $ns, // Valor del codigo de barras
                    "code128", // tipo (cadena)
                    {barWidth:1, barHeight:50}
                );
            }
        });  
    setTimeout(function(){
    window.print();
    window.close(); 
    }, 600)
    </script>
    {% endblock %}
</body>
</html>
